---
import Carousel from "../components/Carousel.astro";
import ItemCard from "../components/ItemCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="container"><Carousel /></div>
  <div class="container top">
    <div class="top-header">Popular Products</div>
    <div class="items">
      <ItemCard
        itemName="Product"
        itemPrice="130$"
        itemOriginalPrice="245$"
        imageUrl="erdogan.jpeg"
        brandName="Philips"
        brandUrl=""
      />
      <ItemCard
        itemName="Product"
        itemPrice="130$"
        itemOriginalPrice="245$"
        imageUrl="ampul.jpeg"
        brandName="Philips"
        brandUrl=""
      />
      <ItemCard
        itemName="Product"
        itemPrice="130$"
        itemOriginalPrice="245$"
        imageUrl="seccade.jpeg"
        brandName="Philips"
        brandUrl=""
      />
      <ItemCard
        itemName="Product"
        itemPrice="130$"
        itemOriginalPrice="245$"
        imageUrl="zikir.jpeg"
        brandName="Philips"
        brandUrl=""
      />
    </div>
  </div>
  <div class="container top">
    <div class="top-header">Top Products</div>
    <div class="items">
      <ItemCard
        itemName="Product"
        itemPrice="130$"
        itemOriginalPrice="245$"
        imageUrl="mesh.jpeg"
        brandName="Philips"
        brandUrl=""
      />
      <ItemCard
        itemName="Product"
        itemPrice="130$"
        itemOriginalPrice="245$"
        imageUrl="ip.webp"
        brandName="Philips"
        brandUrl=""
      />
      <ItemCard
        itemName="Product"
        itemPrice="130$"
        itemOriginalPrice="245$"
        imageUrl="tele.jpg"
        brandName="Philips"
        brandUrl=""
      />
      <ItemCard
        itemName="Product"
        itemPrice="130$"
        itemOriginalPrice="245$"
        imageUrl="rahle.jpg"
        brandName="Philips"
        brandUrl=""
      />
    </div>
  </div>
</BaseLayout>

<style>
  .top-header {
    font-size: 36px;
    font-weight: bold;
  }
  .items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .top {
    margin-top: 50px;
  }
</style>
